USE [master]
GO
/****** Object:  Database [ManejoExtintores]    Script Date: 6/19/2021 2:02:25 PM ******/
CREATE DATABASE [ManejoExtintores]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ManejoExtintores', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ManejoExtintores.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ManejoExtintores_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ManejoExtintores_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ManejoExtintores].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ManejoExtintores]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 6/19/2021 2:02:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 6/19/2021 2:02:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 6/19/2021 2:02:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 6/19/2021 2:02:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 6/19/2021 2:02:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 6/19/2021 2:02:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[Nombres] [nvarchar](max) NULL,
	[Apellidos] [nvarchar](max) NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[Google] [varchar](500) NULL,
	[Discriminador] [varchar](500) NULL,
	[JoinDate] [datetime2](7) NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 6/19/2021 2:02:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 6/19/2021 2:02:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[IdCliente] [int] IDENTITY(1,1) NOT NULL,
	[DocCliente] [decimal](18, 0) NULL,
	[Nombre] [varchar](100) NULL,
	[Apellido] [varchar](100) NULL,
	[Descripcion] [varchar](500) NULL,
	[Direccion] [varchar](50) NULL,
	[Telefono] [varchar](30) NULL,
	[Email] [varchar](100) NULL,
	[Nit] [varchar](50) NULL,
 CONSTRAINT [PK_Clientes] PRIMARY KEY CLUSTERED 
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CreditoServicios]    Script Date: 6/19/2021 2:02:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CreditoServicios](
	[IdCreditos] [int] IDENTITY(1,1) NOT NULL,
	[IdServicio] [int] NULL,
	[Abono] [decimal](18, 4) NULL,
	[Deuda] [decimal](18, 4) NULL,
	[Fecha] [datetime] NULL,
 CONSTRAINT [PK_CreditoServicios] PRIMARY KEY CLUSTERED 
(
	[IdCreditos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleExtClientes]    Script Date: 6/19/2021 2:02:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleExtClientes](
	[IdDetalleCliente] [int] IDENTITY(1,1) NOT NULL,
	[IdClientes] [int] NULL,
	[TipoExtintor] [varchar](100) NULL,
	[Pesoextintor] [varchar](50) NULL,
	[Cantidad] [int] NULL,
	[FechaServicio] [datetime] NULL,
	[FechaVencimiento] [datetime] NULL,
	[FechaMantenimiento] [datetime] NULL,
	[IdServicio] [int] NULL,
 CONSTRAINT [PK_DetalleExtClientes] PRIMARY KEY CLUSTERED 
(
	[IdDetalleCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleServicios]    Script Date: 6/19/2021 2:02:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleServicios](
	[IdDetalleServ] [int] IDENTITY(1,1) NOT NULL,
	[IdServicios] [int] NULL,
	[Descripcion] [varchar](500) NULL,
	[IdTipoExtintor] [int] NULL,
	[IdPesoExtintor] [int] NULL,
	[Valor] [decimal](18, 4) NULL,
	[Cantidad] [int] NULL,
	[Total] [decimal](18, 4) NULL,
 CONSTRAINT [PK_DetalleServicios] PRIMARY KEY CLUSTERED 
(
	[IdDetalleServ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleados]    Script Date: 6/19/2021 2:02:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleados](
	[IdEmpleados] [int] IDENTITY(1,1) NOT NULL,
	[IdEmpresa] [int] NULL,
	[Nombre] [varchar](100) NULL,
	[Apellido] [varchar](100) NULL,
	[Direccion] [varchar](50) NULL,
	[Telefono] [varchar](50) NULL,
	[Email] [varchar](150) NULL,
 CONSTRAINT [PK_Empleados] PRIMARY KEY CLUSTERED 
(
	[IdEmpleados] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empresas]    Script Date: 6/19/2021 2:02:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empresas](
	[IdEmpresa] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](250) NULL,
	[Direccion] [varchar](100) NULL,
	[Telefono] [varchar](50) NULL,
	[Email] [varchar](150) NULL,
	[Nit] [varchar](50) NULL,
 CONSTRAINT [PK_Empresas] PRIMARY KEY CLUSTERED 
(
	[IdEmpresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gastos]    Script Date: 6/19/2021 2:02:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gastos](
	[IdGastos] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](500) NULL,
	[Fecha] [datetime] NULL,
	[Cantidad] [int] NULL,
	[Total] [decimal](18, 4) NULL,
 CONSTRAINT [PK_Gastos] PRIMARY KEY CLUSTERED 
(
	[IdGastos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventarios]    Script Date: 6/19/2021 2:02:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventarios](
	[IdInventario] [int] IDENTITY(1,1) NOT NULL,
	[IdProductos] [int] NULL,
	[Fecha] [datetime] NULL,
	[Descripcion] [varchar](500) NULL,
	[IdTipoExtintor] [int] NULL,
	[IdPesoExtintor] [int] NULL,
	[Cantidad] [int] NULL,
	[FechaVencimiento] [datetime] NULL,
	[DetalleServId] [int] NULL,
 CONSTRAINT [PK_Inventarios] PRIMARY KEY CLUSTERED 
(
	[IdInventario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PesoExtintors]    Script Date: 6/19/2021 2:02:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PesoExtintors](
	[IdPesoExtintor] [int] IDENTITY(1,1) NOT NULL,
	[PesoXlibras] [int] NULL,
 CONSTRAINT [PK_PesoExtintors] PRIMARY KEY CLUSTERED 
(
	[IdPesoExtintor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Precios]    Script Date: 6/19/2021 2:02:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Precios](
	[IdPrecios] [int] IDENTITY(1,1) NOT NULL,
	[IdProductos] [int] NULL,
	[IdDetalleServ] [int] NULL,
	[Descripcion] [varchar](500) NULL,
	[Valor] [decimal](18, 4) NULL,
	[Iva] [decimal](18, 4) NULL,
 CONSTRAINT [PK_Precios] PRIMARY KEY CLUSTERED 
(
	[IdPrecios] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 6/19/2021 2:02:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[IdProductos] [int] IDENTITY(1,1) NOT NULL,
	[IdTipoExtintor] [int] NULL,
	[IdPesoExtintor] [int] NULL,
	[TipoProducto] [varchar](200) NULL,
 CONSTRAINT [PK_Productos] PRIMARY KEY CLUSTERED 
(
	[IdProductos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Servicios]    Script Date: 6/19/2021 2:02:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Servicios](
	[IdServicios] [int] IDENTITY(1,1) NOT NULL,
	[IdClientes] [int] NULL,
	[IdEmpleados] [int] NULL,
	[FechaServicio] [datetime] NULL,
	[Valor] [decimal](18, 4) NULL,
	[Estado] [varchar](50) NULL,
 CONSTRAINT [PK_Servicios] PRIMARY KEY CLUSTERED 
(
	[IdServicios] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoExtintors]    Script Date: 6/19/2021 2:02:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoExtintors](
	[IdTipoExtintor] [int] IDENTITY(1,1) NOT NULL,
	[Tipo_Extintor] [varchar](100) NULL,
 CONSTRAINT [PK_TipoExtintors] PRIMARY KEY CLUSTERED 
(
	[IdTipoExtintor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'79D83B40-44F2-4C6B-8E9A-206127C25AC1', N'ADMIN', N'ADMIN', N'2021--06-09')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'beaac2ab-91d4-4af0-b629-1273355c0b87', N'79D83B40-44F2-4C6B-8E9A-206127C25AC1')
GO
SET IDENTITY_INSERT [dbo].[Clientes] ON 

INSERT [dbo].[Clientes] ([IdCliente], [DocCliente], [Nombre], [Apellido], [Descripcion], [Direccion], [Telefono], [Email], [Nit]) VALUES (1002, CAST(1038945233 AS Decimal(18, 0)), N'Pancracio', N'Mahorés', N'Propietario vehículo particular', N'parque pueblo nuevo', N'3509875643', N'PM@gmail.com', N'null')
INSERT [dbo].[Clientes] ([IdCliente], [DocCliente], [Nombre], [Apellido], [Descripcion], [Direccion], [Telefono], [Email], [Nit]) VALUES (1005, NULL, N'AGrosanar', N'null', N'Local de productos agricolas', N'calle bolivar', N'3456789', N'sanar@hotmail.com', N'32 3456 789-1')
SET IDENTITY_INSERT [dbo].[Clientes] OFF
GO
SET IDENTITY_INSERT [dbo].[CreditoServicios] ON 

INSERT [dbo].[CreditoServicios] ([IdCreditos], [IdServicio], [Abono], [Deuda], [Fecha]) VALUES (2, 23, CAST(10000.0000 AS Decimal(18, 4)), CAST(10000.0000 AS Decimal(18, 4)), CAST(N'2021-06-20T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[CreditoServicios] OFF
GO
SET IDENTITY_INSERT [dbo].[DetalleServicios] ON 

INSERT [dbo].[DetalleServicios] ([IdDetalleServ], [IdServicios], [Descripcion], [IdTipoExtintor], [IdPesoExtintor], [Valor], [Cantidad], [Total]) VALUES (10, 23, N'Recarga extintor.', 1, 1, CAST(20000.0000 AS Decimal(18, 4)), 1, CAST(20000.0000 AS Decimal(18, 4)))
INSERT [dbo].[DetalleServicios] ([IdDetalleServ], [IdServicios], [Descripcion], [IdTipoExtintor], [IdPesoExtintor], [Valor], [Cantidad], [Total]) VALUES (11, 24, N'Recarga extintor.', 2, 2, CAST(22000.0000 AS Decimal(18, 4)), 1, CAST(22000.0000 AS Decimal(18, 4)))
INSERT [dbo].[DetalleServicios] ([IdDetalleServ], [IdServicios], [Descripcion], [IdTipoExtintor], [IdPesoExtintor], [Valor], [Cantidad], [Total]) VALUES (12, 25, N'Recarga extintor.', 3, 3, CAST(30000.0000 AS Decimal(18, 4)), 1, CAST(30000.0000 AS Decimal(18, 4)))
SET IDENTITY_INSERT [dbo].[DetalleServicios] OFF
GO
SET IDENTITY_INSERT [dbo].[Empleados] ON 

INSERT [dbo].[Empleados] ([IdEmpleados], [IdEmpresa], [Nombre], [Apellido], [Direccion], [Telefono], [Email]) VALUES (1, 1, N'Carla', N'Rodriguez', N'Cl 20 #21-31 ', N'3165960032', N'CR@gmail.com')
INSERT [dbo].[Empleados] ([IdEmpleados], [IdEmpresa], [Nombre], [Apellido], [Direccion], [Telefono], [Email]) VALUES (2, 1, N'Diego', N'Palacios', N'Cl 34 #21-34', N'2193456789', N'DP@gmail.com')
SET IDENTITY_INSERT [dbo].[Empleados] OFF
GO
SET IDENTITY_INSERT [dbo].[Empresas] ON 

INSERT [dbo].[Empresas] ([IdEmpresa], [Nombre], [Direccion], [Telefono], [Email], [Nit]) VALUES (1, N'Estacion de bomberos de Amalfi', N'El zacatín', N'3209876534', N'EstacionBomberos@gmail.com', N'70 3456 34-90')
INSERT [dbo].[Empresas] ([IdEmpresa], [Nombre], [Direccion], [Telefono], [Email], [Nit]) VALUES (2, N'Los recuerdos de ella', N'Zona roza', N'3216789000', N'Rela@hotmail.com', N'80 4567 890-0')
SET IDENTITY_INSERT [dbo].[Empresas] OFF
GO
SET IDENTITY_INSERT [dbo].[Gastos] ON 

INSERT [dbo].[Gastos] ([IdGastos], [Descripcion], [Fecha], [Cantidad], [Total]) VALUES (1, N'Tanqueo de Camioneta', CAST(N'2021-06-08T00:00:00.000' AS DateTime), 1, CAST(100000.0000 AS Decimal(18, 4)))
INSERT [dbo].[Gastos] ([IdGastos], [Descripcion], [Fecha], [Cantidad], [Total]) VALUES (2, N'Carreras de motocarro', CAST(N'2021-06-08T00:00:00.000' AS DateTime), 5, CAST(20000.0000 AS Decimal(18, 4)))
INSERT [dbo].[Gastos] ([IdGastos], [Descripcion], [Fecha], [Cantidad], [Total]) VALUES (3, N'Compra de Extintores', CAST(N'2021-06-14T00:00:00.000' AS DateTime), 10, CAST(200000.0000 AS Decimal(18, 4)))
SET IDENTITY_INSERT [dbo].[Gastos] OFF
GO
SET IDENTITY_INSERT [dbo].[Inventarios] ON 

INSERT [dbo].[Inventarios] ([IdInventario], [IdProductos], [Fecha], [Descripcion], [IdTipoExtintor], [IdPesoExtintor], [Cantidad], [FechaVencimiento], [DetalleServId]) VALUES (2, 1, CAST(N'2021-06-19T00:00:00.000' AS DateTime), N'Extintores disponibles.', 1, 1, 10, CAST(N'2022-06-19T00:00:00.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Inventarios] OFF
GO
SET IDENTITY_INSERT [dbo].[PesoExtintors] ON 

INSERT [dbo].[PesoExtintors] ([IdPesoExtintor], [PesoXlibras]) VALUES (1, 5)
INSERT [dbo].[PesoExtintors] ([IdPesoExtintor], [PesoXlibras]) VALUES (2, 10)
INSERT [dbo].[PesoExtintors] ([IdPesoExtintor], [PesoXlibras]) VALUES (3, 20)
SET IDENTITY_INSERT [dbo].[PesoExtintors] OFF
GO
SET IDENTITY_INSERT [dbo].[Precios] ON 

INSERT [dbo].[Precios] ([IdPrecios], [IdProductos], [IdDetalleServ], [Descripcion], [Valor], [Iva]) VALUES (1, 1, NULL, N'Extintores de cinco libras abc', CAST(15000.0000 AS Decimal(18, 4)), CAST(17000.0000 AS Decimal(18, 4)))
INSERT [dbo].[Precios] ([IdPrecios], [IdProductos], [IdDetalleServ], [Descripcion], [Valor], [Iva]) VALUES (2, 2, NULL, N'Precio Extintores 10 libras', CAST(22000.0000 AS Decimal(18, 4)), CAST(24000.0000 AS Decimal(18, 4)))
SET IDENTITY_INSERT [dbo].[Precios] OFF
GO
SET IDENTITY_INSERT [dbo].[Productos] ON 

INSERT [dbo].[Productos] ([IdProductos], [IdTipoExtintor], [IdPesoExtintor], [TipoProducto]) VALUES (1, 1, 1, N'ABC')
INSERT [dbo].[Productos] ([IdProductos], [IdTipoExtintor], [IdPesoExtintor], [TipoProducto]) VALUES (2, 1, 2, N'ABC')
INSERT [dbo].[Productos] ([IdProductos], [IdTipoExtintor], [IdPesoExtintor], [TipoProducto]) VALUES (3, 1, 3, N'ABC')
SET IDENTITY_INSERT [dbo].[Productos] OFF
GO
SET IDENTITY_INSERT [dbo].[Servicios] ON 

INSERT [dbo].[Servicios] ([IdServicios], [IdClientes], [IdEmpleados], [FechaServicio], [Valor], [Estado]) VALUES (23, 1002, 1, CAST(N'2021-06-19T00:00:00.000' AS DateTime), CAST(20000.0000 AS Decimal(18, 4)), N'Pendiente')
INSERT [dbo].[Servicios] ([IdServicios], [IdClientes], [IdEmpleados], [FechaServicio], [Valor], [Estado]) VALUES (24, 1005, 2, CAST(N'2021-06-19T00:00:00.000' AS DateTime), CAST(22000.0000 AS Decimal(18, 4)), N'Cancelado')
INSERT [dbo].[Servicios] ([IdServicios], [IdClientes], [IdEmpleados], [FechaServicio], [Valor], [Estado]) VALUES (25, 1005, 2, CAST(N'2021-06-19T00:00:00.000' AS DateTime), CAST(30000.0000 AS Decimal(18, 4)), N'Pendiente')
SET IDENTITY_INSERT [dbo].[Servicios] OFF
GO
SET IDENTITY_INSERT [dbo].[TipoExtintors] ON 

INSERT [dbo].[TipoExtintors] ([IdTipoExtintor], [Tipo_Extintor]) VALUES (1, N'ABC')
INSERT [dbo].[TipoExtintors] ([IdTipoExtintor], [Tipo_Extintor]) VALUES (2, N'Solkaflán')
INSERT [dbo].[TipoExtintors] ([IdTipoExtintor], [Tipo_Extintor]) VALUES (3, N'Satelital')
SET IDENTITY_INSERT [dbo].[TipoExtintors] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetRoleClaims_RoleId]    Script Date: 6/19/2021 2:02:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetRoleClaims_RoleId] ON [dbo].[AspNetRoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 6/19/2021 2:02:26 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[NormalizedName] ASC
)
WHERE ([NormalizedName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserClaims_UserId]    Script Date: 6/19/2021 2:02:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserClaims_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserLogins_UserId]    Script Date: 6/19/2021 2:02:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserLogins_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserRoles_RoleId]    Script Date: 6/19/2021 2:02:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserRoles_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [EmailIndex]    Script Date: 6/19/2021 2:02:26 PM ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 6/19/2021 2:02:26 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Inventarios_DetalleServId]    Script Date: 6/19/2021 2:02:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_Inventarios_DetalleServId] ON [dbo].[Inventarios]
(
	[DetalleServId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[CreditoServicios]  WITH CHECK ADD  CONSTRAINT [fk_Creditos] FOREIGN KEY([IdServicio])
REFERENCES [dbo].[Servicios] ([IdServicios])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CreditoServicios] CHECK CONSTRAINT [fk_Creditos]
GO
ALTER TABLE [dbo].[DetalleExtClientes]  WITH CHECK ADD  CONSTRAINT [FK_DetalleExtCliente_Servicios] FOREIGN KEY([IdServicio])
REFERENCES [dbo].[Servicios] ([IdServicios])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[DetalleExtClientes] CHECK CONSTRAINT [FK_DetalleExtCliente_Servicios]
GO
ALTER TABLE [dbo].[DetalleExtClientes]  WITH CHECK ADD  CONSTRAINT [FK_DetalleExtClientes_Clientes] FOREIGN KEY([IdClientes])
REFERENCES [dbo].[Clientes] ([IdCliente])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DetalleExtClientes] CHECK CONSTRAINT [FK_DetalleExtClientes_Clientes]
GO
ALTER TABLE [dbo].[DetalleServicios]  WITH CHECK ADD  CONSTRAINT [FK_DetalleServicios_PesoExtintors] FOREIGN KEY([IdPesoExtintor])
REFERENCES [dbo].[PesoExtintors] ([IdPesoExtintor])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[DetalleServicios] CHECK CONSTRAINT [FK_DetalleServicios_PesoExtintors]
GO
ALTER TABLE [dbo].[DetalleServicios]  WITH CHECK ADD  CONSTRAINT [FK_DetalleServicios_Servicio] FOREIGN KEY([IdServicios])
REFERENCES [dbo].[Servicios] ([IdServicios])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DetalleServicios] CHECK CONSTRAINT [FK_DetalleServicios_Servicio]
GO
ALTER TABLE [dbo].[DetalleServicios]  WITH CHECK ADD  CONSTRAINT [FK_DetalleServicios_TipoExtintors] FOREIGN KEY([IdTipoExtintor])
REFERENCES [dbo].[TipoExtintors] ([IdTipoExtintor])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[DetalleServicios] CHECK CONSTRAINT [FK_DetalleServicios_TipoExtintors]
GO
ALTER TABLE [dbo].[Empleados]  WITH CHECK ADD  CONSTRAINT [fk_Empleado] FOREIGN KEY([IdEmpresa])
REFERENCES [dbo].[Empresas] ([IdEmpresa])
GO
ALTER TABLE [dbo].[Empleados] CHECK CONSTRAINT [fk_Empleado]
GO
ALTER TABLE [dbo].[Inventarios]  WITH CHECK ADD  CONSTRAINT [fk_Inventario] FOREIGN KEY([IdProductos])
REFERENCES [dbo].[Productos] ([IdProductos])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Inventarios] CHECK CONSTRAINT [fk_Inventario]
GO
ALTER TABLE [dbo].[Inventarios]  WITH CHECK ADD  CONSTRAINT [FK_Inventarios_DetalleServicios] FOREIGN KEY([DetalleServId])
REFERENCES [dbo].[DetalleServicios] ([IdDetalleServ])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Inventarios] CHECK CONSTRAINT [FK_Inventarios_DetalleServicios]
GO
ALTER TABLE [dbo].[Inventarios]  WITH CHECK ADD  CONSTRAINT [FK_Inventarios_PesoExtintors] FOREIGN KEY([IdPesoExtintor])
REFERENCES [dbo].[PesoExtintors] ([IdPesoExtintor])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Inventarios] CHECK CONSTRAINT [FK_Inventarios_PesoExtintors]
GO
ALTER TABLE [dbo].[Inventarios]  WITH CHECK ADD  CONSTRAINT [FK_Inventarios_TipoExtintors] FOREIGN KEY([IdTipoExtintor])
REFERENCES [dbo].[TipoExtintors] ([IdTipoExtintor])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Inventarios] CHECK CONSTRAINT [FK_Inventarios_TipoExtintors]
GO
ALTER TABLE [dbo].[Precios]  WITH CHECK ADD  CONSTRAINT [fk_Precios] FOREIGN KEY([IdProductos])
REFERENCES [dbo].[Productos] ([IdProductos])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Precios] CHECK CONSTRAINT [fk_Precios]
GO
ALTER TABLE [dbo].[Precios]  WITH CHECK ADD  CONSTRAINT [fk_Productos_DetalleS] FOREIGN KEY([IdDetalleServ])
REFERENCES [dbo].[DetalleServicios] ([IdDetalleServ])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Precios] CHECK CONSTRAINT [fk_Productos_DetalleS]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [Fk_Productos_Peso] FOREIGN KEY([IdPesoExtintor])
REFERENCES [dbo].[PesoExtintors] ([IdPesoExtintor])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [Fk_Productos_Peso]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [fk_Productos_Tipo] FOREIGN KEY([IdTipoExtintor])
REFERENCES [dbo].[TipoExtintors] ([IdTipoExtintor])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [fk_Productos_Tipo]
GO
ALTER TABLE [dbo].[Servicios]  WITH CHECK ADD  CONSTRAINT [fk_serviciosC] FOREIGN KEY([IdClientes])
REFERENCES [dbo].[Clientes] ([IdCliente])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Servicios] CHECK CONSTRAINT [fk_serviciosC]
GO
ALTER TABLE [dbo].[Servicios]  WITH CHECK ADD  CONSTRAINT [fk_serviciosE] FOREIGN KEY([IdEmpleados])
REFERENCES [dbo].[Empleados] ([IdEmpleados])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Servicios] CHECK CONSTRAINT [fk_serviciosE]
GO
USE [master]
GO
